<!DOCTYPE html>
<html>
  <head>
    <title>Equation Manipulator</title>
    <script src="https://aframe.io/releases/1.4.0/aframe.min.js"></script>
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://supereggbert.github.io/aframe-htmlembed-component/dist/build.js"></script>
    <link rel="stylesheet" href="static/overlay.css" />
  </head>
  <body style="margin: 0px; overflow: hidden">
    <!-- Overlay for the sliders -->
    <div class="overlay-div">
      <div id="sliders"></div>
    </div>
    <a-scene id="scene" embedded arjs cursor="rayOrigin: mouse">
      <a-marker-camera preset="hiro"></a-marker-camera>
      <!-- Graph entity -->
      <a-entity material="color: red" rotation="-90 0 0" htmlembed>
        <div class="container">
          <svg id="root"></svg>
        </div>
      </a-entity>
    </a-scene>
    <script src="static/equation.js"></script>
  </body>
</html>
