<!DOCTYPE html>
<html>
  <head>
    <title>Reality Extract Planet Orbit Demo</title>
    <script src="https://aframe.io/releases/1.4.0/aframe.min.js"></script>
    <!-- include ar.js for A-Frame -->
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
    <link rel="stylesheet" href="static/overlay.css" />
  </head>
  <body style="margin: 0px; overflow: hidden">
    <div class="overlay-div">
      <button id="capture-btn">Capture Object</button>
    </div>
    <a-scene id="scene" embedded arjs>
      <!-- create your content here. just a box for now -->
      <a-camera cursor position="0 0 0"></a-camera>
      <a-entity id="earth-and-moon">
        <a-entity
          position="0 0 -8"
          animation="property:rotation; to:0 360 0; dur:4000; easing:linear; loop:true;"
        >
          <a-entity id="earth">
            <a-image
              id="extracted-earth"
              radius="1"
              position="0 0 0"
              rotation="0 0 0"
              src="https://cdn.glitch.global/f7f165be-5248-457d-859b-5eb9c8aec47a/cam.jpg?v=1675973583037"
            >
            </a-image>
          </a-entity>

          <a-entity id="moon">
            <a-sphere
              id="extracted-moon"
              radius="0.2"
              color="white"
              position="-3 0 0"
              src="https://cdn.glitch.global/f7f165be-5248-457d-859b-5eb9c8aec47a/cam.jpg?v=1675973583037"
            >
              <a-animation
                attributes="rotation"
                to="0 360 0"
                dur="4000"
                easing="linear"
                repeat="indefinite"
              ></a-animation>
            </a-sphere>
          </a-entity>
        </a-entity>
      </a-entity>
    </a-scene>
  </body>

  <script src="static/orbit-photo.js" defer></script>
</html>
